
*{
    padding: 0px;
    margin: 0px;
}

html,body {
  background:rgb(221, 221, 221);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-family: sans-serif;
}
.navbar{
    
    width: 100%;
    height: 67px;
    margin :0px;
    border-bottom: solid 1px rgb(211, 211, 211);
    background: rgb(240, 240, 240);
    
    
}

.navbar_contenedor{
    max-width: 1300px;
    background: rgb(240, 240, 240);
        
    height: 67px;
    margin: 0px auto;
}

.navbar_logo{
  float: left;
  color: rgb(0, 0, 0);
  height: 67px;
  margin-left: 10px;
 
}
.navbar_logo h1{
   margin: 12px;
   
}

.navbar_navegacion{
    float: right;
    margin-right: 10px;
}

.navbar_navegacion ul{
    display: flex;
    margin: 0px;
    
}
.navbar_navegacion li{
   
    list-style: none;
    padding:23px 0px;
    
}


.navbar_navegacion_link{
    padding:25px;
    text-decoration: none;
    
    margin-left: 1px;
    
    color: black;
   
}

.navbar_navegacion_link:hover{
    background: black;
    color: white;
    transition:0.5s;
    
}

.pagina_formulario{
    background: url(./imagenes/imagen1.jpg);
    background-size: 2000px;
    
    width: 100%;
    height: 92.045vh;
    display: flex;
    
}
.contenedor_formulario{
    width: 800px;
    height: 500px;
    
    display: flex;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgb(133, 133, 133);

    
 
}

.formulario{
    width: 50%;
    height: 500px;
    background: rgb(248, 248, 248);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(234, 234, 234);
    
    
}

.formulario h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    color: rgb(61, 61, 61);
    

}

.formulario  h3{
    width: 87%;
    margin-left: 26px;

    
   color: rgb(61, 61, 61);
    
    margin-bottom: 10px;
}

.formulario input{
    width: 87%;
    margin-left: 26px;
    height: 40px;
    margin-bottom: 30px;
    font-size: 17px;
    text-align: center;
    outline: none;
    border: none;
    background: rgb(238, 238, 238);
    border-radius: 5px;
    border: solid 1px rgba(151, 151, 151, 0.466);
    transition: 0.5s;
}

.formulario input:focus{
    box-shadow: 1px 1px 5px rgb(145, 145, 145);
    transition: 0.5s
}

.formulario textarea{
    width: 87%;
    margin-left: 26px;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
    background: rgb(238, 238, 238);
    border: none;
    outline: none;
    border: solid 1px rgba(129, 129, 129, 0.466);
    border-radius: 5px;
}


.formulario textarea:focus{
    box-shadow: 1px 1px 5px rgb(145, 145, 145);
    transition: 0.5s
}

.formulario button{
    width:87%;
    height: 40px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    margin-left: 26px;
    background: rgb(43, 43, 43);
    color: white;
}

.formulario_parrafo{
    width: 50%;
    height: 500px;
    background: sandybrown;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}